manifest {
    name = 'nf-genome_to_diffraction'
    description = 'Foundation for genome-to-diffraction candidate identification'
    version = '0.2.0.dev0'
    nextflowVersion = '!26.04.6'
}

includeConfig 'conf/base.config'
includeConfig 'conf/marmic.config'
includeConfig 'conf/viper-cpu.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
    test {
        includeConfig 'conf/test.config'
    }
}
