params {
    outdir = 'results'
    cache_root = '.cache'
    review_mode = 'prepare'
    profile_mode = 'smoke'
}

workDir = "${params.cache_root}/work"
outputDir = params.outdir

process {
    executor = 'local'
    errorStrategy = { task.exitStatus == 75 ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel: process_single {
        cpus = 1
        memory = '1 GB'
        time = '10 min'
    }
    withLabel: process_low {
        cpus = 2
        memory = '4 GB'
        time = '1 hour'
    }
    withLabel: process_medium {
        cpus = 4
        memory = '16 GB'
        time = '4 hours'
    }
    withLabel: process_high {
        cpus = 8
        memory = '32 GB'
        time = '12 hours'
    }
    withLabel: process_search {
        cpus = 8
        memory = '32 GB'
        time = '12 hours'
    }
    withLabel: process_prostt5_search {
        cpus = 16
        memory = '64 GB'
        time = '24 hours'
    }
    withLabel: process_mr {
        cpus = 1
        memory = '8 GB'
        time = '4 hours'
    }
    withLabel: process_refine {
        cpus = 4
        memory = '16 GB'
        time = '8 hours'
    }
    withLabel: process_gpu_optional {
        cpus = 4
        memory = '16 GB'
        time = '4 hours'
    }
    withLabel: process_network {
        cpus = 1
        memory = '2 GB'
        time = '1 hour'
    }
    withLabel: process_database_download {
        cpus = 2
        memory = '8 GB'
        time = '12 hours'
    }
    withLabel: process_phenix {
        cpus = 1
        memory = '8 GB'
        time = '4 hours'
    }
    withLabel: m6_small {
        cpus = 1
        memory = '4 GB'
        time = '1 hour'
    }
    withLabel: m6_pdb_search {
        cpus = 32
        memory = '16 GB'
        time = '24 hours'
    }
    withLabel: m6_foldseek_search {
        cpus = 32
        memory = '16 GB'
        time = '24 hours'
    }
    withLabel: m6_case_prepare {
        cpus = 2
        memory = '8 GB'
        time = '24 hours'
    }
    withLabel: m6_first_copy {
        cpus = 2
        memory = '4 GB'
        time = '24 hours'
    }
    withLabel: m6_add_copy {
        cpus = 2
        memory = '4 GB'
        time = '24 hours'
    }
    withLabel: m6_refinement {
        cpus = 4
        memory = '16 GB'
        time = '24 hours'
    }
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.tsv"
    overwrite = true
    fields = 'task_id,hash,native_id,name,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,cpus,memory,time,attempt,workdir'
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
    overwrite = true
}
