params {
    outdir = 'results'
    cache_root = '.cache'
    review_mode = 'prepare'
    profile_mode = 'smoke'
}

workDir = "${params.cache_root}/work"
outputDir = params.outdir

process {
    executor = 'local'
    errorStrategy = 'terminate'
    maxRetries = 0

    withLabel: process_single {
        cpus = 1
        memory = '1 GB'
        time = '10 min'
    }
    withLabel: process_low {
        cpus = 2
        memory = '4 GB'
        time = '1 hour'
    }
    withLabel: process_medium {
        cpus = 4
        memory = '16 GB'
        time = '4 hours'
    }
    withLabel: process_high {
        cpus = 8
        memory = '32 GB'
        time = '12 hours'
    }
    withLabel: process_search {
        cpus = 8
        memory = '32 GB'
        time = '12 hours'
    }
    withLabel: process_mr {
        cpus = 1
        memory = '8 GB'
        time = '4 hours'
    }
    withLabel: process_refine {
        cpus = 4
        memory = '16 GB'
        time = '8 hours'
    }
    withLabel: process_gpu_optional {
        cpus = 4
        memory = '16 GB'
        time = '4 hours'
    }
    withLabel: process_network {
        cpus = 1
        memory = '2 GB'
        time = '1 hour'
    }
    withLabel: process_database_download {
        cpus = 2
        memory = '8 GB'
        time = '12 hours'
    }
    withLabel: process_phenix {
        cpus = 1
        memory = '8 GB'
        time = '4 hours'
    }
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.tsv"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
    overwrite = true
}
