/absolute/site/root/database-admin
/absolute/site/root/database-admin/databases
/absolute/site/root/database-admin/manifests/database_manifest-YYYYMMDD.json
1800000000000
200000000000
1600000000000
200000000000
