includeConfig "${projectDir}/external/nf-helper/conf/sites/marmic.config"

profiles {
    marmic {
        process {
            beforeScript = "export PATH=\"${projectDir}/.pixi/envs/hpc/bin:/usr/bin:/bin\""

            // Initial measurement allocation for the large shared-database build.
            // Revise only from retained Slurm and I/O evidence.
            withLabel: process_database_download {
                cpus = 8
                memory = '64 GB'
                time = '48 hours'
            }
        }
    }
}
