process.executor = 'local'
executor.queueSize = 2
cleanup = true

process {
    cpus = 1
    memory = '1 GB'
    time = '5 min'

    withLabel: process_single {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_low {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_medium {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_high {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_mr {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_refine {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_gpu_optional {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_network {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_database_download {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
    withLabel: process_phenix {
        cpus = 1
        memory = '1 GB'
        time = '5 min'
    }
}
