includeConfig "${projectDir}/external/nf-helper/conf/sites/viper-cpu.config"

profiles {
    'viper-cpu' {
        params {
            apptainer_cache_dir = params.apptainer_cache_dir ?:
                "/ptmp/${System.getenv('USER')}/apptainer-cache"
            max_cpus = 64
            max_memory = 192000.MB
        }

        workDir = "/ptmp/${System.getenv('USER')}/nf-genome_to_diffraction/work"

        process {
            resourceLimits = [
                cpus: 64,
                memory: 192000.MB,
                time: 24.h,
            ]
            beforeScript = {
                "module load ${params.viper_apptainer_module}; " +
                "export PATH=\"${projectDir}/.pixi/envs/hpc/bin:/usr/bin:/bin\""
            }

            withLabel: process_mr {
                cpus = 8
                memory = '16 GB'
                time = '24 hours'
                // Seven concurrent eight-core Phaser jobs use at most 56 CPUs,
                // below the user-approved 64-CPU small-queue ceiling.
                maxForks = 7
            }

            withLabel: process_refine {
                cpus = 4
                memory = '16 GB'
                time = '24 hours'
                // Four concurrent T12 finalists use at most 16 CPUs.
                maxForks = 4
            }

            withLabel: process_search {
                cpus = 16
                memory = '64 GB'
                time = '24 hours'
            }

            withLabel: process_prostt5_search {
                cpus = 64
                memory = '192 GB'
                time = '24 hours'
            }
        }
    }
}
